**/vendor/
**/node_modules/
**/npm-debug.log
**/package-lock.json

# Laravel specific
**/Homestead.yaml
**/Homestead.json
**/bootstrap/compiled.php
**/app/storage/debugbar/*
**/app/storage/logs/*.log
**/public/storage
**/public/hot
**/storage/*.key
**/.env

**/.idea
**/.vscode
**/.vagrant
**/.phpunit.result.cache

**/.settings
**/.grenrc.json
**/composer.lock
**/yarn.lock

# PWA server worker
**/public/service-worker/
**/public/sw.js
